body {
    background-color: rgb(72, 111, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
}

h1 {
    color: goldenrod;
    text-align: center;
    font-weight: 700;
}

.question {
    color: white;
    text-align: center;
    font-weight: 600;
}

h2:nth-child(1) {
    font-style: italic;
}

.question button {
    padding: 10px 60px;
    background-color: goldenrod;
    color: rgb(233, 228, 220);
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    border: 1px;
    margin: 0px 100px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin: 0px 30%;
}

.rule {
    color: white;
    margin-top: 60px;
    margin-left: 30px;
}

@media(max-width:1078px) {
    .button {
        margin: 0px 25%;

    }
}

@media(max-width:866px) {
    .button {
        margin: 0px 20%;

    }
}


@media(max-width:724px) {
    .button {
        margin: 0px 15%;

    }
}

@media(max-width:623px) {
    .button {
        margin: 0px 0px;
    }
}